{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% from "hmcts-header/macro.njk" import hmctsHeader %}

{{ hmctsHeader({

service: {
name: 'Validate bank details',
url: '/index'
},

navigation: {
label: 'Account navigation',
items: [{
  text: '',
  href: ''
}
]
}

}) }}

{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{% endblock %}

{% block content %}

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#roll-number-error">Enter a valid account number like 00733445</a>
      </li>
    </ul>
  </div>
</div>

<h1 class="govuk-heading-l">Find an account</h1>

  <form action="find-account" method="post" class="form">

<div class="govuk-form-group">
  <label class="govuk-label" for="sort-code">
    Sort code
  </label>
  <div id="sort-code-hint" class="govuk-hint">
    Must be 6 digits long
  </div>
  <input class="govuk-input govuk-input--width-5" id="sort-code" name="sort-code" type="text" spellcheck="false" aria-describedby="sort-code-hint" pattern="[0-9]*" inputmode="numeric" value="{{ data['sort-code'] }}">
</div>

<div class="govuk-form-group govuk-form-group--error">
  <label class="govuk-label" for="account-number">
    Account number
  </label>
  <div id="account-number-hint" class="govuk-hint">
    Must be between 6 and 8 digits long
  </div>
  <span id="roll-number-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> Enter a valid account number like 00733445
  </span>
  <input class="govuk-input govuk-input--width-10 govuk-input--error" id="account-number" name="account-number" type="text" spellcheck="false" aria-describedby="account-number-hint" pattern="[0-9]*" inputmode="numeric" value="{{ data['account-number'] }}">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="roll-number">
    Roll number or membership number (if you have one)
  </label>
  <input class="govuk-input govuk-input--width-10" id="roll-number" name="roll-number" type="text" spellcheck="false" aria-describedby="roll-number-hint" value="{{ data['roll-number'] }}">
</div>

<button class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">
  Search
</button>

<a href="../find-an-account" role="button" draggable="false" class="govuk-button govuk-button--secondary" style="margin-bottom: 10px" data-module="govuk-button">
  Clear search
</a>

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
<br>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Bank name and address
    </dt>
    <dd class="govuk-summary-list__value">
      Old School Bank<br>
      193 High Street,<br>
      Manchester,<br>
      M3 9JA
    </dd>
  </div>
</dl>

</form>

</form>


{% endblock %}
