.search-filter {
  background-color: #ffffff;
}

.search-filter__title {
  margin: 0 15px;
  padding: 15px,0px,10px,0px;
}

.search-filter__error {
  margin: 0 15px;
  padding: 15px,0px,10px,0px;
}

.search-filter__selected {
  margin: 0 15px;
  padding: 15px 0;
  background: #f3f2f1;
  display: inline-block;
  width: 97%;
}

.search-filter__search-button {
  margin: 0 15px;
  padding: 15px 0;
}
