{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% from "hmcts-header/macro.njk" import hmctsHeader %}

{{ hmctsHeader({

service: {
name: 'Validate bank details',
url: '/index'
},

navigation: {
label: 'Account navigation',
items: [{
  text: '',
  href: ''
}
]
}

}) }}

{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{{ govukBackLink({
  text: "Back",
  href: "find-an-account-results"
}) }}

{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Royal Bank of Scotland account: {{ data['sortcode'] }} {{ data['account-number'] }}</h1>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Sort code
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['sortcode'] }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Account number
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['account-number'] }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Bank name
    </dt>
    <dd class="govuk-summary-list__value">
      Royal Bank of Scotland
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Branch title
    </dt>
    <dd class="govuk-summary-list__value">
      Head Office Collection Account
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Address
    </dt>
    <dd class="govuk-summary-list__value">
      Premier Place<br>
      2 1/2 Devonshire Square<br>
      London
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Postcode
    </dt>
    <dd class="govuk-summary-list__value">
      EC2M 4BA
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Phone number
    </dt>
    <dd class="govuk-summary-list__value">
      012345678
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Direct Debit
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      BACS Credit
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      AUDDIS
    </dt>
    <dd class="govuk-summary-list__value">
      Yes
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      BACS Status
    </dt>
    <dd class="govuk-summary-list__value">
      Member
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Closure date
    </dt>
    <dd class="govuk-summary-list__value">
      10/10/2010
    </dd>
  </div>
</dl>

  {{ govukButton({
    text: "Search again",
    href: "find-an-account"
  }) }}


{% endblock %}
