{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% from "hmcts-header/macro.njk" import hmctsHeader %}

{{ hmctsHeader({

service: {
name: 'Validate bank details',
url: '#'
},

navigation: {
label: 'Account navigation',
items: [{
  text: '',
  href: ''
}
]
}

}) }}

{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Find an account</h1>

<div class="govuk-grid-row">

  <form action="/prototypes/current/01/find-an-account-results" method="post" class="form">

  <div class="search-filter">

    <div class="search-filter__selected">

      <div class="search-filter__title">
        <h2 class="govuk-heading-m">Search</h2>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s govuk-!-font-size-16 govuk-!-margin-bottom-1" for="sortcode">
            Sort code
          </label>
          <input class="govuk-input govuk-!-font-size-16" id="sortcode" name="sortcode" type="text" aria-describedby="sortcode-hint">
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s govuk-!-font-size-16 govuk-!-margin-bottom-1" for="account-number">
            Account number
          </label>
          <input class="govuk-input govuk-!-font-size-16" id="account-number" name="account-number" type="text" aria-describedby="account-number-hint">
        </div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s govuk-!-font-size-16 govuk-!-margin-bottom-1" for="roll-number">
            Roll or membership number (optional)
          </label>
          <input class="govuk-input govuk-!-font-size-16" id="roll-number" name="roll-number" type="text" aria-describedby="roll-number-hint">
        </div>
      </div>

  <div class="govuk-grid-row">
    <div class="search-filter__search-button">
      <div class="govuk-grid-column-one-third">
        {{ govukButton({
          text: "Search",
          classes: "govuk-!-width-full"
        }) }}
      </div>
    </div>

  </div>
</div>
</div>
</form>
</div>

{% endblock %}
