{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}\
{% from "hmcts-header/macro.njk" import hmctsHeader %}

{{ hmctsHeader({

service: {
name: 'Validate bank details',
url: '#'
},

navigation: {
label: 'Account navigation',
items: [{
  text: '',
  href: ''
}
]
}

}) }}

{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{{ mojPrimaryNavigation({
label: 'Primary navigation',
items: [
{
  text: 'Home',
  href: 'home'
},
{
  text: 'Find an account',
  href: 'find-an-account2'
},
{
  text: 'Find a branch',
  href: 'find-a-branch'
}
]
}) }}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "find-an-account-results2"
}) }}

{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Royal Bank of Scotland account: 012287 03648126</h1>

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: {
        text: "Sortcode"
      },
      value: {
        text: "012287"
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Account number"
      },
      value: {
        text: "03648126"
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Bank name"
      },
      value: {
        text: "Royal Bank of Scotland"
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Branch title"
      },
      value: {
        html: "Head Office Collection Account"
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: 'Premier Place<br> 2 1/2 Devonshire Square<br> London'
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Postcode"
      },
      value: {
        html: 'EC2M 4BA'
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Phone number"
      },
      value: {
        html: '012345678'
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Direct Debit"
      },
      value: {
        html: 'Yes'
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "BACS Credit"
      },
      value: {
        html: 'Yes'
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "AUDDIS"
      },
      value: {
        html: 'Yes'
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "BACS Status"
      },
      value: {
        html: 'Member'
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    },
    {
      key: {
        text: "Closure date"
      },
      value: {
        html: '10/10/2010'
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: "contact details"
          }
        ]
      }
    }
  ]
}) }}

  {{ govukButton({
    text: "Search again",
    href: "find-an-account2"
  }) }}


{% endblock %}
