{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  homepageUrl: "https://www.gov.uk/",
  serviceName: "Check bank or building society details",
  serviceUrl: "account-home",
  navigation: [
  {
    href: "",
    text: ""
  }
  ]
}) }}
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "home"
}) }}

{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Find a bank or building society branch</h1>

<div class="govuk-grid-row">

  <div class="search-filter">

    <div class="search-filter__selected">

      <div class="search-filter__title">
        <h2 class="govuk-heading-m">Search</h2>
        <p class="govuk-body">Enter up to three search terms. You can include partial search terms.</p>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s govuk-!-font-size-16 govuk-!-margin-bottom-1" for="reference">
            Bank name
          </label>
          <input class="govuk-input govuk-!-font-size-16" id="reference" name="reference" type="text" aria-describedby="reference-hint">
        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s govuk-!-font-size-16 govuk-!-margin-bottom-1" for="email">
            Town or city
          </label>
          <input class="govuk-input govuk-!-font-size-16" id="email" name="email" type="text" aria-describedby="email-hint">
        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s govuk-!-font-size-16 govuk-!-margin-bottom-1" for="cardholderName">
            Postcode
          </label>
          <input class="govuk-input govuk-!-font-size-16" id="cardholderName" name="cardholderName" type="text" aria-describedby="cardholderName-hint">
        </div>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s govuk-!-font-size-16 govuk-!-margin-bottom-1" for="lastDigitsCardNumber">
            Phone number
          </label>
          <input class="govuk-input govuk-!-font-size-16" id="lastDigitsCardNumber" name="lastDigitsCardNumber" type="text" aria-describedby="lastDigitsCardNumber-hint" autocomplete="off" inputmode="numeric" pattern="[0-9]*">
        </div>
      </div>

      <div class="govuk-grid-row">
    <div class="search-filter__search-button">
      <div class="govuk-grid-column-one-quarter">
      <a href="find-a-branch-results" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-2 govuk-!-width-full" data-module="govuk-button">
      Search
      </a>
      </div>
    </div>

  </div>
</div>
</div>
</div>

<h3 class="govuk-heading-s govuk-!-margin-top-5">0 banks and building societies found</h3>



{% endblock %}
