{% extends "layout.html" %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{% from "hmcts-header/macro.njk" import hmctsHeader %}

{{ hmctsHeader({

service: {
name: 'Validate bank details',
url: '#'
},

navigation: {
label: 'Account navigation',
items: [{
  text: '',
  href: ''
}
]
}

}) }}

{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{{ mojPrimaryNavigation({
label: 'Primary navigation',
items: [
{
  text: 'Home',
  href: 'home',
  active: true
},
{
  text: 'Find an account',
  href: 'find-an-account2'
},
{
  text: 'Find a branch',
  href: 'find-a-branch'
}
]
}) }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">What do you want to do?</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-m"><a href="find-an-account2">Find an account</a></h3>
    <p class="govuk-body">Search for a bank or building society account using a sortcode and account number.</p>
  </div>

  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-m"><a href="find-a-branch">Find a branch</a></h3>
    <p class="govuk-body">Search for a bank or building society branch using either a bank name, address or phone number.</p>
  </div>
</div>

{% endblock %}
